name: .NET

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read
  checks: write
  pull-requests: write

jobs:
  build:
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v4
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8.0.x
        cache: true
    - name: Copy packages.lock.json to root
      run: |
        cp Api/packages.lock.json ./packages.lock.json
    - name: Restore .NET tools
      run: dotnet tool restore
    - name: Restore dependencies
      run: dotnet restore --locked-mode
    - name: Build the solution
      run: dotnet build TourGuide.sln --no-restore
    - name: Publish build artifacts
      uses: actions/upload-artifact@v4
      with:
        name: build-artifacts
        path: |
          **/bin/Release
          **/bin/Debug
        retention-days: 30
    - name: List files
      run: |
        echo "Listing artifacts in the current directory"
        ls -R

  test:
    runs-on: windows-latest
    needs: build

    steps:
    - uses: actions/checkout@v4
    - name: Download build artifacts
      uses: actions/download-artifact@v4
      with:
        name: build-artifacts
    - name: List files
      run: |
        echo "Listing artifacts in the current directory"
        ls -R
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8.0.x
    - name: Test the solution
      run: dotnet test TourGuide.sln --logger trx --results-directory ./TestResults
    - name: Test Report
      uses: dorny/test-reporter@v1
      if: success() || failure()
      with:
        name: Tests
        path: '**/TestResults/*.trx'
        reporter: dotnet-trx

  sonarcloud:
    runs-on: windows-latest
    needs: build

    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0
